<div class="container">
  <h1>Welcome to Craigslist Jr.!</h1>
  <br>
  <h2>Here is a list of our categories: </h2>
  <ul>
    <% @categories.each do |category| %>
    <%="<a href='/?category=#{category.title}'> <li>#{category.title}</li> </a>"%>
    <% end %>
  </ul>


  <form action="/submit" method="post">
    Submit your posting:
    <br>
    <span>Title</span><br>
    <input type="text" name="title">
    <br>
    <span>Description</span><br>
    <input type="text" name="description">
    <br>
    <span>Location</span><br>
    <input type="text" name="location">
    <br>
    <span>Cost</span><br>
    <input type="text" name="cost">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
