<div class="container">
	<h1><%= @post.title %> </h1>
	<h3><%= @post.description %> </h3>
	<br>
	<h3>Location : <%= @post.location %> </h3>
	<br>
	<h3>Cost : <%= @post.cost %> </h3>
	<form action="/" method="post">
		<input type="submit" value="Home">
	</form>
</div>
