<div class="container">
  <h1>Welcome to Craigslist Jr.!</h1>
  <br>
  <%="<h2>Here is a list of our posts for #{@current_category}: </h2>"%>
  <ul>
    <% @posts_by_category.each do |post| %>
    <%="<a href='/?category=#{post.title}'> <li>#{post.title} is a post</li> </a>"%>
    <% end %>
  </ul>

</div>
