<form action="/articles" method="post">
  <label for="article[title]"> Title </label>
  <input type="text" name="article[title]">
  <br/>
  <label for="article[description]"> Description </label>
  <textarea name="article[description]"></textarea>
  <br/>
  <label for="article[category]"> Category </label>
  <input type="text" name="article[category]">
  <br/>
  <input type="submit" value="Create Article">
</form>
